<!DOCTYPE html>
<html lang="es">
<head>
  <% include service/partials/head.html %>
</head>
<body>
  <% include service/partials/header.html %>
  <% include service/partials/hero.html %>
  <% include service/partials/about.html %>
  <% include service/partials/footer.html %>
  <% include service/partials/chat.html %>
  <% include service/partials/scripts.html %>
</body>
</html>
