<footer data-aos="fade-up">
  <div class="container footer-grid">
    <div>
      <h3>Enlaces</h3>
      <a href="#">Términos de uso</a><br />
      <a href="#">Política de privacidad</a><br />
      <a href="#">Aviso legal</a>
    </div>
    <div>
      <h3>Redes Sociales</h3>
      <a href="#"><i class="fab fa-facebook"></i> Facebook</a><br />
      <a href="#"><i class="fab fa-twitter"></i> Twitter</a><br />
      <a href="#"><i class="fab fa-instagram"></i> Instagram</a><br />
      <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
    <div class="contact-info">
      <h3>Contacto</h3>
      <p>info@nubia.edu</p>
      <p>+1 234 567 890</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 Nubia – Tecnología con alma humana.
  </div>
</footer>
