<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="assets/images/favicon.png" />

<!-- Normalize -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
/>

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
  rel="stylesheet"
/>

<!-- AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- Tu CSS -->
<link rel="stylesheet" href="assets/css/styles.css" />

<title><%= title %></title>
