รง<section class="testimonials" data-aos="fade-up">
  <div class="container">
    <h2>Testimonios</h2>
<% testimonials.forEach(t => { %>
  <%- include(
       '../services/partials/testimonial.ejs',
       { testimonial: t }
     ) %>
<% }) %>
  </div>
</section>
