<!DOCTYPE html>
<html lang="es">
<head><% include ../services/partials/head.ejs %></head>
<body>
  <% include ../services/partials/header.ejs %>
  <% include ../services/partials/about-section.ejs %>
  <% include ../services/partials/footer.ejs %>
  <% include ../services/partials/chat.ejs %>
  <% include ../services/partials/scripts.ejs %>
</body>
</html>
